<IfModule mod_rewrite.c>

    RewriteEngine On

    RewriteBase /zip/

    RewriteCond %{REQUEST_URI} ^system.*

    RewriteRule ^(.*)$ /index.php?/$1 [L]

    RewriteCond %{REQUEST_URI} ^application.*

    RewriteRule ^(.*)$ /index.php?/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php?/$1 [L]

</IfModule>



<IfModule !mod_rewrite.c>

    ErrorDocument 404 /index.php

</IfModule>  



# File modified on Mon May 20 03:11:44 2013 by server
# For security reasons, mod_php is not used on this server. Use a php.ini file for php directives
# php_value error_reporting 30711